{% macro displayPostList(posts) %}


    {% for post in posts %}
        <div class="row">

            <div class="col-md-2 col-lg-2">

            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-12
            well pitch-well">

                <li class="text-center">
                            <h2>{{post.body}}</h2>
                          <h3>{{post.timestamp}}</h3>
                          <h3>by {{post.author.username}}</h3>

                          <h3 class="comment-create">
                              <a href="{{url_for('main.new_comment')}}">
                                  Add Comment
                              </a>
                          </h3>
                </li>

            </div>

            <div class="col-md-2 col-lg-2">

            </div>

        </div>

    {% endfor %}
    {% endmacro %}
    {% macro displayCommentList(comments) %}


        {% for comment in comments %}
            <div class="row">

                <div class="col-md-2 col-lg-2">

                </div>

                <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well comment-well">


                        <h4 class="comment-content">

                          {{comment.name}}

                        </h4>



                </div>

                <div class="col-md-2 col-lg-2">

                </div>

            </div>

        {% endfor %}

{% endmacro %}
